<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963219015435-4cnaib0lndpqk74elho4jc6kc563n1jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963219015435-4cnaib0lndpqk74elho4jc6kc563n1jt</string>
	<key>API_KEY</key>
	<string>AIzaSyA3D2x1RMywqdaAVJtPHnxDVi6pWRF2vcc</string>
	<key>GCM_SENDER_ID</key>
	<string>963219015435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ScanEIDReact</string>
	<key>PROJECT_ID</key>
	<string>scaneidreact</string>
	<key>STORAGE_BUCKET</key>
	<string>scaneidreact.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963219015435:ios:74c570b20764a8b745840e</string>
	<key>DATABASE_URL</key>
	<string>https://scaneidreact.firebaseio.com</string>
</dict>
</plist>